@charset "utf-8";

#wrap{position:relative;overflow:hidden;}
header{height:100px; background-color: #fff}
header h1{float:left; padding:24px 25px 0;}



footer{clear:both; height:50px; padding:50px 0; background-color: #787878;}
address, footer p{width:1200px; margin: 0 auto; text-align: center; color: #ccc;}
footer p{margin-top: 5px; font-size:12px;}